<div *ngIf="place.name" class="container" style="display: inline-block; background: white; margin: 50px;">
  <h1 class="center text-center" id="namemirror" style="padding: 30px;"> {{ place.name }} </h1>
  <div class="center text-center justify-content-center" style="display:flex; flex-wrap: wrap">
      <div style="display: flex;" class="justify-content-center">
          
          <div class="thumbnail">
              <img [src]="place.image" style="width: 500px; object-fit: contain" id="imagemirror" alt="">
              <p  id="descriptionmirror" style="padding: 10px"> {{place.description}} </p>
          </div>
      </div>
  </div>
</div>